<h1 style='background-color: #FAF9F6; color: #11557C; text-align: left; font-family: 'Arial', sans-serif; padding: 20px; border-bottom: 1px solid #11557C;'>
    SQL Interativo
</h1>

#### Preparando o Banco de Dados

Para começar, execute o código a seguir. Ele é necessário para criar e preparar o banco de dados e o ambiente para podermos utilizar comandos **SQL** no **Jupyter Notebook**.  
Não se preocupe em entender e interpretar esta parte, o objetivo deste notebook são os comandos SQL das próximas células!

Como requisito, você deve adicionar **```%%sql```** na célula de código antes de executar um comando SQL, ok?

In [6]:
# Preparando o Banco de Dados

import pandas as pd
import sqlite3 
import os


# --- Criação dos DataFrames ---
# DataFrame de Clientes
dados_clientes = {
    'id_cliente': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'nome': ['João', 'Maria', 'Pedro', 'Ana', 'Carlos', 'Clara', 'Luiz', 'Graziela', 'Beatriz', 'Mariana'],
    'idade': [20, 25, 30, 35, 40, 51, 44, 47, 22, 18],
    'email': ['joao@email.com', 'maria@email.com', 'pedro@email.com', 'ana@email.com', 'carlos@email.com', 'clara@email.com', 'luiz@email.com', 'grazi@email.com', 'bia@email.com', 'mari@email.com'],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Porto Alegre', 'Belo Horizonte', 'Salvador', 'Recife', 'Santos', 'São Paulo', 'Salvador', 'Guarulhos'],
    'estado': ['SP', 'RJ', 'RS', 'MG', 'BA', 'PE', 'SP', 'SP', 'BA', 'SP']
}

# DataFrame de Pedidos
dados_pedidos = {
    'id_pedido': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    'id_cliente': [1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 6, 6],
    'produto': ['celular', 'videogame', 'computador', 'celular', 'videogame', 'televisão', 'computador', 'celular', 'videogame', 'televisão', 'televisão', 'computador', 'celular', 'videogame', 'televisão'],
    'marca': ['ACME', 'XPTO', 'ICOMP', 'ACME', 'XPTO', 'ICOMP', 'ACME', 'XPTO', 'ICOMP', 'ACME','ACME','ACME','XPTO','XPTO','XPTO'],
    'quantidade': [1, 2, 1, 1, 1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 1],
    'preco': [1250.00, 4250.50, 1750.99, 3750.25, 2250.00, 5250.50, 2750.00, 4750.25, 3250.00, 1400.00, 1250.00, 4250.50, 1750.99, 3750.25, 2250.00]
}


clientes_df = pd.DataFrame(dados_clientes)
pedidos_df = pd.DataFrame(dados_pedidos)

print("\n")

# criando a conexão
if os.path.exists('bancodados.db'):   
    print("Banco de Dados 'bancodados.db' OK.")
    try:
        clientes_df.to_sql('tbClientes', conexao)
        pedidos_df.to_sql('tbPedidos', conexao)
    except:
        print("Tabelas 'tbClientes' e 'tbProdutos' OK.")
    %reload_ext sql
else:
    conexao = sqlite3.connect('bancodados.db')

    # criando as  tabelas no banco de dados
    clientes_df.to_sql('tbClientes', conexao)
    pedidos_df.to_sql('tbPedidos', conexao)

    print("Banco de Dados 'bancodados.db' OK.")
    print("Tabelas 'tbClientes' e 'tbProdutos' OK.")
    
    # load the sql module to iPython
    %load_ext sql

# apontando para o banco de dados que vamos usar
%sql sqlite:///bancodados.db

Banco de Dados 'bancodados.db' OK.
Tabelas 'tbClientes' e 'tbProdutos' OK.

#### Estrutura do Banco de Dados
![image.png](https://res.cloudinary.com/ddrdmilou/image/upload/w_700/v1699096417/tabelas_vpmlxm.png)

-----------
### SQL Interativo

*Realize as suas consultas no banco de dados na célula abaixo!*

In [5]:
%%sql


SELECT 
    nome,
    idade,
    cidade,
    estado
FROM
    tbClientes

 * sqlite:///bancodados.db
Done.

[('João', 20, 'São Paulo', 'SP'),
 ('Maria', 25, 'Rio de Janeiro', 'RJ'),
 ('Pedro', 30, 'Porto Alegre', 'RS'),
 ('Ana', 35, 'Belo Horizonte', 'MG'),
 ('Carlos', 40, 'Salvador', 'BA'),
 ('Clara', 51, 'Recife', 'PE'),
 ('Luiz', 44, 'Santos', 'SP'),
 ('Graziela', 47, 'São Paulo', 'SP'),
 ('Beatriz', 22, 'Salvador', 'BA'),
 ('Mariana', 18, 'Guarulhos', 'SP')]